.backToList {
    margin-bottom: 10px;
}

.modelInformation{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.modelDesccription {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.modelInformation__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10px;
}

button.edit {
    margin-right: 10px;

    transition: background-color .3s;
}

.commentList {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

.commentItem {
    background: rgba(108, 171, 230, 0.47);
    border: 1px solid #1483E9;
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 4px 4px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #1483E9;
    box-shadow: 0 0 5px 0 rgba(20, 131, 233, 0.5);
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
}

select:focus {
    outline: none;
    border: 1px solid #1483E9;
    box-shadow: 0 0 5px 0 rgba(20, 131, 233, 0.5);
}

.modelImage {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}