.modelsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 35px;

    padding: 0;
}

.modelsList__listItem {
    display: block;
    background-color: #ccc;
    border-radius: 5px;
    border: 1px solid #7f7f7f;
    padding: 15px;
}

.addModelBtn {

}