header {
    padding: 15px;

    background-color: var(--dark-color);
    width: 100%;
}

.headerInnerWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    display: block;
    width: 100%;

    max-width: 150px;
}