@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "./styles/forms.css";

:root {
    --dark-color: #1e1e1e;
    --hover-link-color: #4b6eb9;
    --light-color: #eee;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*=== 10px*/
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    color: var(--dark-color);
}

html, body, #root {
    height: 100%;
}

body {
    background-color: var(--light-color);
}

#root {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

main {
    width: 100%;
    flex-grow: 1;
    padding: 40px 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
@media screen and (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 520px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 25px;
    }
}

button.btn,
a.btn
{
    display: block;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;

    background-color: transparent;

    border: none;
    outline: none;

    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    transition: background-color .3s;
}

.btn.green {
    background-color: green;
    color: #fff;
}

.btn.orange {
    background: #DCBA40;
    color: #000;
}
@media screen and (hover: hover) {
    .btn.orange:hover {
        background-color: #ff8c00;
    }
}

.btn.red {
    background-color: red;
    color: #000;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;

    margin-bottom: 25px;
}

p{
    font-size: 2rem;
}

li{
    font-size: 2rem;
}

a {
    font-size: 1.6rem;
    display: block;
    max-width: max-content;
    color: var(--dark-color);
    text-decoration: none;
    border-bottom: 1px solid var(--dark-color);

    transition: color .3s, border .3s;
}
@media screen and (hover: hover) {
    a:hover {
        color: var(--hover-link-color);
        border-bottom: 1px solid var(--hover-link-color);
    }
}
@media screen and (hover: none) {
    a {
        color: var(--hover-link-color);
        border-bottom: 1px solid var(--hover-link-color);
    }
}

img {
    display: block;
}