@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import "./styles/forms.css";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /*=== 10px*/
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
@media screen and (max-width: 1440px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 520px;
    }
}
@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 25px;
    }
}

button.btn,
a.btn
{
    display: block;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
    text-decoration: none;

    background-color: transparent;

    border: none;
    outline: none;

    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    transition: background-color .3s;
}

.btn.green {
    background-color: green;
    color: #fff;
}

.btn.orange {
    background: #DCBA40;
    color: #000;
}
@media screen and (hover: hover) {
    .btn.orange:hover {
        background-color: #ff8c00;
    }
}

.btn.red {
    background-color: red;
    color: #000;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;

    margin-bottom: 25px;
}

p{
    font-size: 2rem;
}

li{
    font-size: 2rem;
}